# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env

# Git files
.git
.gitignore

# Database
app/image_data.db

# Logs
logs/
app/logs/

# Static uploads
app/statics/imageOG/
app/statics/thumbnails/
